@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

header {
  width: 100%;
  height: 71px;
  background: #22344c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 20px 0 0;
  box-shadow: 0px 5px 15px #0000004f;
}

.sidebar {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #efeeee;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

#logout {
  margin-left: 30px;
}

#logout i {
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #efeeee;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #efeeee;
}

section {
    padding-top: 95px;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background:url(img/wave2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img {
    width: 19vw;
    animation: float 3s linear infinite;
    margin-right: 5rem;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2.5rem);
    }
}

.home .content h3 {
    font-size: 3.5rem;
    color: #4a4949;
    text-transform: uppercase;
}

.home .content span {
    font-size: 2.5rem;
    color: #516d83;
    text-transform: uppercase;
    margin-right: 9rem;
}


.home .content p {
    font-size: 1.7rem;
    color: #4a4949;
    margin-bottom: 10rem;
}

@media (max-width: 1315px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
  
  .home .image img {
    margin-right: 12rem;
    width: 22vw;
  }
}

@media (max-width: 1104px) {
  section {
    padding: 0 2%;
    padding-top: 7.5rem;
  }
}

@media (max-width: 1074px) {
  .home .content span {
    font-size: 2.4rem;
}
}

@media (max-width: 1044px) {
  .home .content h3 {
    font-size: 3.4rem;
}

.home .content span {
    font-size: 2.3rem;
}

.home .image img {
  width: 21vw;
}
}

@media (max-width: 1001px) {
  .home .content h3 {
    font-size: 3.3rem;
}

.home .content span {
    font-size: 2.2rem;
}

.home .image img {
  width: 20vw;
}

.home .content p {
  font-size: 1.6rem;
}
}

@media (max-width: 975px) {
  section {
    padding: 0 4%;
    padding-top: 8rem;
  }
  
  .home .image img {
    margin-right: 10rem;
  }

  .home .content h3 {
    font-size: 3rem;
}

  .home .content span {
    font-size: 2rem;
}

  .home .content p {
  font-size: 1.4rem;
}
}

@media (max-width: 938px) {
  section {
    padding: 0 3%;
    padding-top: 8rem;
  }
}

@media (max-width: 919px) {
  body {
    height: 100%;
  }

  header {
    display: none;
  }

  .sidebar {
    display: block;
    width: 43px;
    height: 100%;
    background: #22344c;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 5px #516d83;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
  }

  .sidebar.expandir{
    width: 250px;
  }

  .btn-expandir {
    width: 100%;
  }

  .btn-expandir i {
    color: #dee7ee;
    font-size: 29px;
    cursor: pointer;
  }

  ul{
    height: 100%;
  }

  ul li.item-menu {
    transition: .2s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  ul li.item-menu:hover {
    background: #dee7ee;
  }

  ul li.item-menu a {
    color: #dee7ee;
    font-size: 25px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
  }

  #h {
    color: #11101b;
    background: #dee7ee;
  }
  
  #menu{
    margin-bottom: 35px;
  }

  ul li.item-menu a:hover {
    color: #11101b;
  }
  
  ul li.item-menu a .txt-link{
    margin-left: 30px;
  }

  section {
    padding-left: 5rem;
    padding-top: 4rem;
  }

  .home .image img {
    margin-right: 5rem;
    width: 22vw;
  }

  .home .content h3 {
    font-size: 3rem;
}

  .home .content span {
    font-size: 2rem;
}

  .home .content p {
  font-size: 1.4rem;
}
}

@media (max-width: 938px) {
  .home .content h3 {
    font-size: 2.9rem;
}

  .home .content span {
    font-size: 1.9rem;
}

  .home .content p {
  font-size: 1.4rem;
}
}

@media (max-width: 865px) {
  .home .content h3 {
    font-size: 2.8rem;
}

  .home .content span {
    font-size: 1.8rem;
}

  .home .content p {
  font-size: 1.2rem;
}
}

@media (max-width: 849px) {
  .home .content h3 {
    font-size: 2.7rem;
}

  .home .content span {
    font-size: 1.7rem;
}

  .home .content p {
  font-size: 1.2rem;
}
}

@media (max-width: 818px) {
  .home .content h3 {
    font-size: 2.5rem;
}

  .home .content span {
    font-size: 1.5rem;
}

  .home .content p {
  font-size: 1.1rem;
}
}

@media (max-width: 775px) {
  section {
    padding-left: 4rem;
    padding-top: 0;
  }
  .home .image img {
    margin-right: 2rem;
    width: 25vw;
  }
}

@media (max-width: 719px) {
  .home .image img {
    margin-right: 1rem;
  }
}

@media (max-width: 697px) {
  .home .content h3 {
    font-size: 2.3rem;
}

  .home .content span {
    font-size: 1.4rem;
}
}

@media (max-width: 697px) {
  .content {
    margin-bottom: 13rem;
  }
  .home {
    flex-flow: column;
  }
  .home .image img {
    position: absolute;
    top: 14rem;
    width: 21vw;
  }
}

@media (max-width: 490px) {
  .home .image img {
    width: 30vw;
  }
}







