@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

header {
  width: 100%;
  height: 71px;
  background: #22344c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-shadow: 0px 5px 15px #a9a9a9c2;
}

.sidebar {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #efeeee;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

#logout {
  margin-left: 30px;
}

#logout i {
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #efeeee;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #efeeee;
}

.container {
  margin: 30px auto;
  width: 75%;
}

h1 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  color: #999999;
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  display: flex;
  margin: 20px auto;
  width: 80%;
}

.inc-exp-container div {
  background: #dee7ee;
  margin-left: 35px;
  border-radius: 6px;
  padding: 30px 0;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.inc-exp-container  div {
  border-right: 1px solid #22344c;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-image: linear-gradient(to right, #22344c, #516d83, #9db3c0);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  border-radius: 6px;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-position: right;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
  position:static;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
  position:static;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 919px) {
  body {
    height: 100%;
  }

  header {
    display: none;
  }

  .container {
    padding-top: 23px;
    margin: 0 auto;
  }
  
  .inc-exp-container {
    display: flex;
    margin: auto;
    height: 105px;
    width: 100%;
  }

  .inc-exp-container div {
    margin-left: 15px;
  }

  .inc-exp-container div:first-of-type {
    margin-left: 0;
  }

  .sidebar {
    display: block;
    width: 43px;
    height: 100%;
    background: #22344c;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 5px #516d83;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
  }

  .sidebar.expandir{
    width: 250px;
  }

  .btn-expandir {
    width: 100%;
  }

  .btn-expandir i {
    color: #dee7ee;
    font-size: 29px;
    cursor: pointer;
  }

  ul{
    height: 100%;
  }

  ul li.item-menu {
    transition: .2s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  ul li.item-menu:hover {
    background: #dee7ee;
  }

  ul li.item-menu a {
    color: #dee7ee;
    font-size: 25px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
  }

  #d {
    color: #11101b;
    background: #dee7ee;
  }
  
  #menu{
    margin-bottom: 35px;
  }

  ul li.item-menu a:hover {
    color: #11101b;
  }
  
  ul li.item-menu a .txt-link{
    margin-left: 30px;
  }
}
