@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 71px;
  background: #22344c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-shadow: 0px 5px 15px #a9a9a9c2;
}

.sidebar {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #efeeee;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

#logout {
  margin-left: 30px;
}

#logout i {
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #efeeee;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #efeeee;
}

.slide-container h1 {
    color: #333333;
    text-align: center;
    padding-bottom: 18px;
    font-size: 50px;
    font-weight: normal;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #9db3c0;
  }

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #516d83;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #516d83;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #9db3c0;
}
.card-image {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #516d83;
}
.name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  display: flex;
  color: #fff;
  padding: 13px 16px;
  background: #516d83;
  border-radius: 6px;
  align-items: center;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.card-content i {
  margin-left: 8px;
}

.button:hover {
  background: #8da4e6;
}

.swiper-navBtn {
  color: #516d83;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #516d83;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.credit {
  text-transform: uppercase;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 10px;
  padding-bottom: 0px; 
}

.credit form {
  background: #9db3c0;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 600px;
  padding-top: 135px;
}

.credit form .inputBox {
  margin-top: 15px;
}

.credit form .inputBox span {
  display: block;
  color: #333333;
  
}

.credit form .inputBox input,
.credit form .inputBox select {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0,.3);
  color: #444;
}

.credit form .flexbox {
  display: flex;
  gap: 15px;
}

.credit form .flexbox .inputBox {
  flex:1 1 150px;
}

.credit form .submit-btn {
  width: 100%;
  background-image: linear-gradient(to right, #22344c, #516d83, #9db3c0);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: .2s linear;
  border-radius: 10px;
}

.credit form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: .8;
}

.credit .card-container {
  margin-bottom: -145px;
  position: relative;
  height: 230px;
  width: 400px;
}

.credit .card-container .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #22344c, #516d83, #9db3c0);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgb(0, 0, 0,.2);
  transform: perspective(1000px) rotateY(0deg);
  padding: 20px;
  transition:trasform .4s ease-out;
}

.credit .card-container .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.credit .card-container .front .image img {
  height: 50px;
}

.credit .card-container .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #ffffff;
}

.credit .card-container .front .flexbox {
  display: flex;
}

.credit .card-container .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}

.credit .card-container .front .flexbox .box {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.credit .card-container .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #22344c, #516d83, #9db3c0);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgb(0, 0, 0,.2);
  transform: perspective(1000px) rotateY(180deg);
  transition:transform .4s ease-out;
}

.credit .card-container .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.credit .card-container .back .box {
  padding: 0 20px;
}

.credit .card-container .back .box span {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.credit .card-container .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: white;
  border-radius: 5px;
  width: 100%;
}

.credit .card-container .back .box img {
  margin-top: 30px;
  height: 30px;
}

.modal.abrir {
  display: flex;
}

@keyframes abrirmodal{
  from {
    opacity: 0;
    transform: translate3d(0, -20px, -5px);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.abrir .credit {
  animation: abrirmodal 0.5s;
}

@media (max-width: 919px) {
  body {
    height: 100%;
  }

  header {
    display: none;
  }

  .sidebar {
    display: block;
    width: 43px;
    height: 100%;
    background: #22344c;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 5px #516d83;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
  }

  .sidebar.expandir{
    width: 250px;
  }

  .btn-expandir {
    width: 100%;
  }

  .btn-expandir i {
    color: #dee7ee;
    font-size: 29px;
    cursor: pointer;
  }

  ul{
    height: 100%;
  }

  ul li.item-menu {
    transition: .2s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  ul li.item-menu:hover {
    background: #dee7ee;
  }

  ul li.item-menu a {
    color: #dee7ee;
    font-size: 25px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
  }

  #c {
    color: #11101b;
    background: #dee7ee;
  }

  #menu{
    margin-bottom: 35px;
  }

  ul li.item-menu a:hover {
    color: #11101b;
  }
  
  ul li.item-menu a .txt-link{
    margin-left: 30px;
  }
  .slide-content{
    margin: 20px 10px 0 55px;
  }
  .slide-container h1 {
    font-size: 55px;
    padding: 0;
    margin-left: 55px;
  }
  .swiper-navBtn{
    display: none;
  }
}
  
@media  (max-width: 768px) {
  .slide-container h1 {
    font-size: 50px;
  }
  .swiper-navBtn{
    display: none;
  }

  @media (max-width: 451px) {
    .slide-container h1 {
      font-size: 40px;
    }
  }
  
  
  @media (max-width: 416px) {
    .slide-container h1 {
      font-size: 36px;
    }
  }
}

